header {
    background-color: #595959 !important;
    box-shadow: none !important;
}
header > a,
header > span{
    color:#fff !important;
}
header > a > span{
    font-size:18px;
    font-weight:bold;
}