/*标题头部分*/
.homeHeader {
    background-color: #595959;
    height: 52px;
    box-shadow: none;
}

    .homeHeader > div {
        height: 52px;
        position: absolute;
        top: 0;
    }

    .homeHeader > .left {
        left: 0;
    }

        .homeHeader > .left > img {
            margin: 9px 0 0 10px;
            height: 34px;
        }

    .homeHeader > .right {
        right: 0;
    }

        .homeHeader > .right > a {
            color: #ffffff;
            display: inline-block;
            height: 52px;
            width: 48px;
            font-size: 22px;
            margin: 0 !important;
            padding: 14px 0 0;
        }