<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>古典部APP</title>
    <link href="../../Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../../Content/fonts/iconfont.css" rel="stylesheet" />
    <link href="../../Content/Css/IndexPage.css" rel="stylesheet" />
</head>
<body>
    <div class="mui-content">
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../Content/Images/Index/CarouselFigure4.png" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="../../Content/Images/Index/CarouselFigure1.png" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="../../Content/Images/Index/CarouselFigure2.png" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="../../Content/Images/Index/CarouselFigure3.png" /></a></div>
                <div class="mui-slider-item"><a href="#"><img src="../../Content/Images/Index/CarouselFigure4.png" /></a></div>
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="../../Content/Images/Index/CarouselFigure1.png" /></a></div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>
        <!-- 想法&意见 -->
        <div class="listItem">
            <div class="header">
                <i class="mui-icon KTBFont">&#xe602;</i>
                想法&意见
            </div>
            <ul class="mui-table-view ideaList">
                <li class="mui-table-view-cell">
                    <img src="../../Content/Images/Index/head01.png" />
                    <div>
                        <h3>大型盖子对撞机V2.1.3</h3>
                        <span><i class="mui-icon KTBFont">&#xe704;</i> 120<i class="mui-icon KTBFont">&#xe608;</i>30 </span>
                        <p>写什么都是写，也就乱七八糟的写点好了</p>
                        <button type="button"><i class="mui-icon KTBFont">&#xe607;</i> 关注</button>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <img src="../../Content/Images/Index/head02.png" />
                    <div>
                        <h3>PT</h3>
                        <span><i class="mui-icon KTBFont">&#xe704;</i> 120<i class="mui-icon KTBFont">&#xe608;</i>30 </span>
                        <p>我都不知道我为什么会注册这个账号。</p>
                        <button type="button"><i class="mui-icon KTBFont">&#xe607;</i> 关注</button>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <img src="../../Content/Images/Index/head03.gif" />
                    <div>
                        <h3>Materal</h3>
                        <span><i class="mui-icon KTBFont">&#xe704;</i> 120<i class="mui-icon KTBFont">&#xe608;</i>30 </span>
                        <p>这个人很懒，介绍都不会写</p>
                        <button type="button"><i class="mui-icon KTBFont">&#xe606;</i> 已关注</button>
                    </div>
                </li>
            </ul>
            <a class="footer">
                更多想法<i class="mui-icon KTBFont">&#xe618;</i>
            </a>
        </div>
        <!-- 资源&标记 -->
        <div class="listItem">
            <div class="header Baseline">
                <i class="mui-icon KTBFont">&#xe63a;</i>
                资源&标记
            </div>
            <!-- 动漫 -->
            <div class="resourceList">
                <div class="header">
                    <i class="mui-icon KTBFont" style="color:#ff4081;">&#xe604;</i>
                    动漫
                    <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
                </div>
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted lateralSlidingList">
                    <div class="mui-scroll">
                        <a class="mui-control-item mui-active">
                            <img src="../../Content/Images/Index/AnimationList1.png" />
                            <span>小林家的龙女仆</span>
                            <span>TV动漫</span>
                        </a>
                        <a class="mui-control-item">
                            <img src="../../Content/Images/Index/AnimationList2.png" />
                            <span>钢之炼金术师 FULLMET AL111111111111</span>
                            <span>TV动漫</span>
                        </a>
                        <a class="mui-control-item">
                            <img src="../../Content/Images/Index/AnimationList3.png" />
                            <span>全金属狂潮</span>
                            <span>TV动漫</span>
                        </a>
                        <a class="mui-control-item">
                            <img src="../../Content/Images/Index/AnimationList1.png" />
                            <span>小林家的龙女仆</span>
                            <span>TV动漫</span>
                        </a>
                        <a class="mui-control-item">
                            <img src="../../Content/Images/Index/AnimationList2.png" />
                            <span>钢之炼金术师 FULLMET AL111111111111</span>
                            <span>TV动漫</span>
                        </a>
                        <a class="mui-control-item">
                            <img src="../../Content/Images/Index/AnimationList3.png" />
                            <span>全金属狂潮</span>
                            <span>TV动漫</span>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <i class="mui-icon KTBFont" style="color:#ffbd5d;">&#xe614;</i>
                    编辑推荐
                </div>
                <div class="recommend">
                    <a>
                        <img src="../../Content/Images/Index/AnimationRecommend.png" />
                    </a>
                </div>
            </div>
        </div>
        <!-- 电影 -->
        <div class="resourceList">
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#000000;">&#xe60a;</i>
                电影
                <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
            </div>
            <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted lateralSlidingList">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active">
                        <img src="../../Content/Images/Index/MovieList1.png" />
                        <span>声之形</span>
                        <span>剧情</span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/MovieList2.png" />
                        <span>战狼2</span>
                        <span>动作</span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/MovieList3.png" />
                        <span>敦刻尔克</span>
                        <span>战争</span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/MovieList1.png" />
                        <span>声之形</span>
                        <span>剧情</span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/MovieList2.png" />
                        <span>战狼2</span>
                        <span>动作</span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/MovieList3.png" />
                        <span>敦刻尔克</span>
                        <span>战争</span>
                    </a>
                </div>
            </div>
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#ffbd5d;">&#xe614;</i>
                编辑推荐
            </div>
            <div class="recommend">
                <a>
                    <img src="../../Content/Images/Index/MovieRecommend.png" />
                </a>
            </div>
        </div>
        <!-- 音乐 -->
        <div class="resourceList">
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#108ee9;">&#xe657;</i>
                音乐专辑
                <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
            </div>
            <ul class="itemList">
                <li>
                    <img src="../../Content/Images/Index/MuiscList1.png" />
                    <div>
                        <h3>君の名は。（无损）</h3>
                        <p>RADWIMPS带给我们的诚意之作——2016年夏上映动漫电影《你的名字。》原声带正式发布。</p>
                    </div>
                </li>
                <li>
                    <img src="../../Content/Images/Index/MuiscList2.png" />
                    <div>
                        <h3>東京喰種 オリジナルサウンドトラック（无损）</h3>
                        <p>TVアニメ『東京喰種』のオリジナル・サウンドトラック。</p>
                    </div>
                </li>
                <li>
                    <img src="../../Content/Images/Index/MuiscList3.png" />
                    <div>
                        <h3>MIRROR（无损）</h3>
                        <p>DJ Okawari继2008年的Diorama大获成功之后。推出了这一张专辑。</p>
                    </div>
                </li>
            </ul>
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#ffbd5d;">&#xe614;</i>
                编辑推荐
            </div>
            <div class="recommend">
                <a>
                    <img src="../../Content/Images/Index/MuiscRecommend.png" />
                </a>
            </div>
        </div>
        <!-- 软件 -->
        <div class="resourceList">
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#009688;">&#xe64d;</i>
                软件
                <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
            </div>
            <div class="recommend">
                <a>
                    <img src="../../Content/Images/Index/SoftwareList1.png" />
                </a>
                <a>
                    <img src="../../Content/Images/Index/SoftwareList2.png" />
                </a>
                <a>
                    <img src="../../Content/Images/Index/SoftwareList3.png" />
                </a>
            </div>
        </div>
        <!-- 游戏 -->
        <div class="resourceList">
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#ff9800;">&#xe609;</i>
                游戏
                <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
            </div>
            <div class="recommend">
                <a>
                    <img src="../../Content/Images/Index/GameList1.png" />
                </a>
                <a>
                    <img src="../../Content/Images/Index/GameList2.png" />
                </a>
                <a>
                    <img src="../../Content/Images/Index/GameList3.png" />
                </a>
            </div>
        </div>
        <!-- 电影 -->
        <div class="resourceList">
            <div class="header">
                <i class="mui-icon KTBFont" style="color:#e51c23;">&#xe60b;</i>
                书籍
                <a>查看全部<i class="mui-icon KTBFont">&#xe645;</i></a>
            </div>
            <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted lateralSlidingList">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active">
                        <img src="../../Content/Images/Index/BookList1.png" />
                        <span>冰与火之歌</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList2.png" />
                        <span>三体</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList3.png" />
                        <span>解忧杂货店</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList4.png" />
                        <span>白夜行</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList1.png" />
                        <span>冰与火之歌</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList2.png" />
                        <span>三体</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList3.png" />
                        <span>解忧杂货店</span>
                        <span></span>
                    </a>
                    <a class="mui-control-item">
                        <img src="../../Content/Images/Index/BookList4.png" />
                        <span>白夜行</span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="backFooter">
            —我也是有底线的—
        </div>
    </div>
    <script src="../../Lib/mui/js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</body>
</html>