<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>古典部APP</title>
    <link href="../Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../Content/fonts/iconfont.css" rel="stylesheet" />
    <link href="../Content/Css/IndexList.css" rel="stylesheet" />
</head>
<body>
    <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted homeSlider">
        <div class="mui-scroll">
            <a class="mui-control-item mui-active">
                综合
            </a>
            <a class="mui-control-item">
                动画
            </a>
            <a class="mui-control-item">
                电影
            </a>
            <a class="mui-control-item">
                音乐
            </a>
            <a class="mui-control-item">
                软件
            </a>
            <a class="mui-control-item">
                游戏
            </a>
            <a class="mui-control-item">
                书籍
            </a>
        </div>
    </div>
    <script src="../Lib/mui/js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</body>
</html>