<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>古典部APP</title>
    <link href="../Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../Content/fonts/iconfont.css" rel="stylesheet" />
    <link href="../Content/Css/Base.css" rel="stylesheet" />
    <link href="../Content/Css/Scanning.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">扫描</h1>
    </header>
    <div class="mui-content">
        <div>

        </div>
    </div>
    <div class="mui-bar mui-bar-footer" style="padding: 0px;">
        <div class="fbt" onclick="scanPicture();">从相册选择二维码</div>
        <div class="fbt mui-action-back">取　 消</div>
    </div>
    <script src="../Lib/mui/js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</body>
</html>