<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../Content/fonts/iconfont.css" rel="stylesheet" />
    <link href="../Content/Css/Base.css" rel="stylesheet" />
    <link href="../Content/Css/Scanning.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">扫一扫</a>
        <span class="mui-icon mui-icon-spinner-cycle mui-spin mui-pull-right" id="turnTheLight"></span>
    </header>

    <div id="bcid">
        <!--盛放扫描控件的div-->
    </div>

    <div class="mui-bar mui-bar-footer">
        <div class="fbt" onclick="scanPicture();">从相册选择二维码</div>
        <div class="fbt mui-action-back">取　 消</div>
    </div>

    <script src="../Lib/mui/js/mui.min.js"></script>
    <script src="../Lib/m-Tools/m-tools.js"></script>
    <script src="../Content/Script/Base.js"></script>
    <script type="text/javascript">

        scan = null;//扫描对象
        mui.plusReady(function ()
        {
            mui.init();
            startRecognize();
        });

        function startRecognize()
        {
            try {
                var filter;
                //自定义的扫描控件样式
                var styles = { frameColor: "#29E52C", scanbarColor: "#29E52C", background: "" }
                //扫描控件构造
                scan = new plus.barcode.Barcode('bcid', filter, styles);
                scan.onmarked = onmarked;
                scan.onerror = onerror;
                scan.start();
                //打开关闭闪光灯处理
                var flag = false;
                document.getElementById("turnTheLight").addEventListener('tap', function ()
                {
                    if (flag == false) {
                        scan.setFlash(true);
                        flag = true;
                    } else {
                        scan.setFlash(false);
                        flag = false;
                    }
                });
            }
            catch (e) {
                alert("出现错误啦:\n" + e);
            }
        };
        function onerror(e)
        {
            alert(e);
        };
        function onmarked(type, result)
        {
            var text = '';
            switch (type) {
                case plus.barcode.QR:
                    text = 'QR: ';
                    break;
                case plus.barcode.EAN13:
                    text = 'EAN13: ';
                    break;
                case plus.barcode.EAN8:
                    text = 'EAN8: ';
                    break;
            }
            alert(text + " : " + result);

        };

        // 从相册中选择二维码图片
        function scanPicture()
        {
            plus.gallery.pick(function (path)
            {
                plus.barcode.scan(path, onmarked, function (error)
                {
                    plus.nativeUI.alert("无法识别此图片");
                });
            }, function (err)
            {
                plus.nativeUI.alert("Failed: " + err.message);
            });
        }

    </script>
</body>
</html>  